<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Javaweb</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>wds.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>English</servlet-name>
    <servlet-class>wds.EnglishAlphabet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>English</servlet-name>
    <url-pattern>/showEnglishAlphabet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Greek</servlet-name>
    <servlet-class>wds.GreekAlphabet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Greek</servlet-name>
    <url-pattern>/showGreekAlphabet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Russian</servlet-name>
    <servlet-class>wds.RussianAlphabet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Russian</servlet-name>
    <url-pattern>/showRussianAlphabet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IP</servlet-name>
    <servlet-class>wds.IPAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IP</servlet-name>
    <url-pattern>/showIPAddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Guess</servlet-name>
    <servlet-class>wds.GuessNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Guess</servlet-name>
    <url-pattern>/showGuessNumber</url-pattern>
  </servlet-mapping>
</web-app>